name: testing my backend server
on:
  push:
    branches:
      - main
env:
  DB_NAME: Retina
  DB_USER: postgres
  DB_PASSWORD: System123
  DB_HOST: localhost
  DB_DIALECT: postgres
  PORT: 3000

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: System123
          POSTGRES_DB: Retina
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:

      - name: make code in maching
        uses: actions/checkout@v4

      - name: setting up nodejs
        uses: actions/setup-node@v4
        with:
          node-version: '22'          
      - name: storing dependies in cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: chahe-with-dependies ${{hashFiles('**/package-lock.json')}}

      - name: installing dependies
        run: npm ci

      - name: starting server
        run: npm start & npx wait-on http://127.0.0.1:3000

      - name: let me know my DB name
        run: echo "Database name is $DB_NAME"
  